* {
    width: 720px;
    align-items: center;
    margin: auto;
    font-family: face;
}

body {
    width: 900px;
}

h1 {
    text-align: center;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 15px;
}

td[colspan="4"] {
    height: 15px;
}

h3+p {
    margin-top: 20px;
}

p {
    font-size: 15px;
    line-height: 1.6;
}

.header {
    width: 717px;
    border-collapse: collapse;
    border: none;
}

.header td {
    border: none;
    padding: 3px;
    vertical-align: top;
}