.container {
    display: flex;
    background-color: DodgerBlue;
}

.container div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    body {
        width: calc(10%-10px);
    }
}