body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.hero-img {
    object-fit: cover;
    height: 100%;
}

.hero-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 70%;
    max-width: 800px;
}

.hero-card .btn-light:hover {
    background-color: #ddd;
}

.img-caption {
    position: absolute;
    bottom: 8px;
    left: 12px;
    color: white;
    font-weight: 500;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    font-size: 0.95rem;
}

section h4,
section p {
    text-align: left;
}


/* @media (max-width: 768px) {
    .hero-card {
        width: 90%;
    }
} */

.a1 {
    width: 80%;
    height: 60%;
}