body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    gap: 10px;
    padding: 15px;
}

.box {
    background: black;
    padding: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

@media screen and (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        color: black;
    }
    .box:nth-child(4) {
        grid-column: span 2;
        background-color: rgb(240, 64, 33);
    }
    .box:nth-child(6) {
        grid-column: span 1;
        background-color: rgb(68, 10, 135);
    }
    .box:nth-child(7) {
        grid-column: span 2;
        background-color: rgb(20, 162, 7);
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        background-color: beige;
    }
    .box:nth-child(4),
    .box:nth-child(7) {
        grid-column: span 1;
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
    .box {
        grid-column: span 1 !important;
    }
}